/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Indie+Flower&family=Roboto:wght@300;400;700&display=swap');

:root {
    --background-clr: #131313;
    --hero-clr: #000000;
    --primary-clr: #9A966E;
    --text-primary-clr: #E0E0E0;
    --text-secondary-clr: #575757;
    --container-div-clr: #1A1A1A;
    
    /* MTI Colors */
    --mti-blue: #3562AA;
    --mti-orange: #E97412;
    
    /* Google Colors */
    --google-blue: #4285F4;
    --google-red: #DB4437;
    --google-yellow: #F4B400;
    --google-green: #0F9D58;

    /* Spacing */
    --spacing-1: 1rem;
    --spacing-2: 2rem;
    --spacing-3: 3rem;

    /* Fonts */
    --fw-thin: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    --ff-ar: 'Readex Pro', arial;
    --ff-ar-2: 'Aref Ruqaa', arial;
    --ff-en: 'Roboto', arial;
    --ff-en-hr: 'Indie Flower', arial;

    --fs-small: 0.875rem;
    --fs-regular: 1rem;
    --fs-large: 1.1rem;
    --fs-larger: 1.25rem;
    --fs-largest: 2rem;
    --fs-huge: 4rem;

    --section-padding: 20%;
    --section-squeezing: 2rem;

    --border-radius: 7px;

    --box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Resets */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font: inherit;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    color: var(--text-clr);
    /* font-family: var(--ff-ar); */
}

a {
    color: unset;
    text-decoration: none;
}

html, body, #root {
    width: 100vw;
    height: fit-content;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    outline: 0px;
    box-sizing: border-box;
}

/* Defaults */


/* Defaults: Spacing / Layout */

#root {
    background-color: #101010;
    color: var(--text-primary-clr);
    font-family: var(--ff-en);
    /* padding: 0 var(--section-padding); */
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    /* gap: var(--spacing-2); */
}

.section-padding {
    /* padding: 0 var(--section-padding); */
    padding: var(--section-squeezing);
    border-radius: var(--border-radius);
}

.section {
    /* outline: 1px solid var(--primary-clr); */
    background-color: var(--background-clr);
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
    padding: var(--section-squeezing);
}

.shadow {
    box-shadow: var(--box-shadow);
}

.border-radius {
    border-radius: var(--border-radius);
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.margin-1 {
    margin: var(--spacing-1);
}

.margin-2 {
    margin: var(--spacing-2);
}

.margin-3 {
    margin: var(--spacing-3);
}

.margin-top {
    margin-top: auto;
}

.margin-bottom {
    margin-bottom: auto;
}

.margin-left {
    margin-left: auto;
}

.margin-right {
    margin-right: auto;
}

.margin-center {
    margin: auto;
}

.margin-center-h {
    margin: 0 auto;
}

.margin-center-v {
    margin: auto 0;
}

.padding-05 {
    padding: 0.5rem;
}

.padding-1 {
    padding: var(--spacing-1)
}

.padding-2 {
    padding: var(--spacing-2)
}

.padding-3 {
    padding: var(--spacing-3)
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: var(--spacing-1);
}

.gap-2 {
    gap: var(--spacing-2);
}

.gap-3 {
    gap: var(--spacing-3);
}

.width-fit {
    width: fit-content
}
.height-fit {
    height: fit-content
}
.width-100 {
    width: 100%;
}
.height-100 {
    height: 100%;
}

/* Defaults: Font */
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}

.fw-thin {
    font-weight: var(--fw-thin);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-small {
    font-size: var(--fs-small);
}

.fs-large {
    font-size: var(--fs-large);
}

.fs-larger {
    font-size: var(--fs-larger);
}

.fs-largest {
    font-size: var(--fs-largest);
}

.fs-huge {
    font-size: var(--fs-huge);
}

.ff-en {
    font-family: var(--ff-en)
}

.ff-en-hr {
    font-family: var(--ff-en-hr)
}

.ff-ar {
    font-family: var(--ff-ar)
}
.ff-ar-2 {
    font-family: var(--ff-ar-2)
}

.primary-clr {
    color: var(--primary-clr);
}

.container-div-clr {
    color: var(--container-div-clr);
}

.text-secondary-clr {
    color: var(--text-secondary-clr);
}

.mti-orange {
    color: var(--mti-orange)
}

.mti-blue {
    color: var(--mti-blue)
}

.google-blue {
    color: var(--google-blue)
}

.google-green {
    color: var(--google-green)
}

.google-yellow {
    color: var(--google-yellow)
}

.google-red {
    color: var(--google-red)
}

.container {
    background-color: var(--container-div-clr);
    padding: var(--spacing-1);
    border-radius: var(--border-radius);
}

button {
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--border-radius);
    background-color: transparent;
    border: 2px solid var(--primary-clr);
    font-weight: var(--fw-bold);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-clr);
}

.disabled-btn {
    background-color: var(--background-clr);
    border: 0;
}

.disabled-btn:hover {
    background-color: unset;
    cursor: not-allowed;
}

.hoverable-outline {
    outline: 0px solid var(--primary-clr);
    transition: outline .1s ease-in-out;
}

.hoverable-outline:hover {
    outline: 2px solid var(--primary-clr);
}

.hoverable {
    transition: color .1s ease-in-out;
}

.hoverable:hover {
    color: var(--primary-clr);
}
/* Responsive Layout */
@media only screen AND (max-width: 1400px) {

    :root {
        --section-padding: 5%;
    }

}

@media only screen AND (max-width: 1100px) {

    :root {
        --section-padding: 15px;
    }

    .responsive-grid-1 {
        grid-template-columns: 1fr;
    }

    .responsive-grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}

/* Responsive Layout: Smaller Laptop Screen */
@media only screen AND (max-width: 1200px) {}

/* Responsive Layout: Tablet */

/* Responsive Layout: Phones */

@media only screen AND (max-width: 500px) {

    :root {
        --section-padding: 0;
        --section-squeezing: 1rem 10px;
    }

    .res-mobile-grid-1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .res-mobile-grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}